.root {
  background-color:;
}

.header__navigation-sub-list {
  display: none;
}

.header {
  background-image: url("../img/header_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.header__container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 40px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 8px 0px;
  margin-bottom: 170px;
}

.header__logo {
  max-width: 103px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.header__logo-img {
  margin-right: 5px;
  height: 18px;
  width: 18px;
}

.header__navigation {
  max-width: 394px;
  width: 100%;
}

.header__navigation-list {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  height: 100%;
  align-items: center;
}

.header__registration {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  padding: 8px 22px;
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 12px;
  transition: background 0.2s ease;
}

.btn:active {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
}

.header__title {
  max-width: 785px;
  margin-bottom: 30px;
}

.header__title-description-txt {
  font-size: 18px;
  font-weight: 400;
}

.header__title-description-slogan {
  font-size: 58px;
  font-weight: 400;
}

.header__subtitle {
  display: flex;
  justify-content: flex-end;
}

.header__subtitle-txt {
  max-width: 360px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 100px;
}

.header__support-icons {
  max-width: 360px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
}

.header__support {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__support-img {
  margin-right: 5px;
}

.workflow__container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 80px 40px;
}

.workflow__title {
  max-width: 808px;
  margin-bottom: 35px;
  font-size: 77px;
  font-weight: 400;
}

.workflow__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  gap: 20px;
}

.workflow__cards-item {
  max-width: 590px;
  width: 100%;
  border-radius: 12px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.workflow__cards-item-img {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}

.workflow__cards-item-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-grow: 1;
}

.workflow__cards-item-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.workflow__cards-item-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.workflow__cards-item-link {
  font-size: 18px;
  font-weight: 500;
  color: #2c3cf1;
  margin-top: auto;
}

.solutions {
  position: relative;
}

.solutions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(50% 50% at 50% 50%, #dce2ff 0%, #f9fdff 100%);
  z-index: -1;
}

.solutions__head-title {
  font-size: 58px;
  font-weight: 400;
}

.solutions__head-img-wrapper {
  width: 467px;
  height: 445px;
  margin: 0 auto;
}

.solutions__head-img {
  width: 100%;
  height: auto;
}
