.preview {
    display: flex;
    justify-content: center;
}

.preview__container {
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 100px 70px;
}

.preview__content {
    max-width: 670px;
    margin-right: 40px;
    width: 100%;
    font-family: var(--second-font);
}

.preview__img-container {
    max-height: 422px;
    max-width: 576px;
} 

.preview__img {
    width: 100%;
    height: auto;
}

.title {
    font-family: var(--main-font);
    font-size: 58px;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 15px;
}

.text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 485px;
    margin-bottom: 25px;
}

.link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

.link_btn {
    min-height: 43px;
    background-color: #0070A0;
    color: #FFFFFF;
    padding: 0px 30px;

}

.link_mr30 {
    margin-right: 30px;
}

.link_img {
    color: #0070A0;
}

.icon-vector {
    width: 17px;
    height: 21px;
    margin-left: 15px;
}