* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
[type="submit"] {
  cursor: pointer;
}

:root {
  --main-font: "Roboto", sans-serif;
}

.features__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__title {
  max-width: 430px;
  display: flex;
  text-align: center;
  margin: 30px 0px 50px;
  font-size: 36px;
  font-weight: 400;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.features-list__item {
  width: 33%;
  max-width: 338px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.features-list__symbol {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.features-list__name {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: 700;
  max-width: 216px;
  text-align: center;
}

.features-list__symbol_color-1 {
  background-color: #21f7ec;
}

.features-list__symbol_color-2 {
  background-color: #33d3bc;
}

.features-list__symbol_color-3 {
  background-color: #18a5c6;
}

.features-list__symbol_color-4 {
  background-color: #d38f62;
}

.features-list__symbol_color-5 {
  background-color: #f94c43;
}

.features-list__symbol_color-6 {
  background-color: #d399ff;
}
