.root {
    background-color: #F8F8F8;
}

.service-packages__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.cards__container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    max-width: 1200px;
}
.card {
    width: 360px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.card:nth-child(3n + 1) {
    margin-left: 0;
}

.card__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 50px 40px 20px 40px;
    min-height: 577px;
}

.title__content {
    font-size: 48px;
    line-height: 1;
    margin: 0;
}

.title__content_main {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.list__content {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 50px;
    color: #01353E
}

.list__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item {
    color: #242121;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
}

.price__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.price__value {
    font-size: 36px;
    line-height: 40px;
}

.price__currency {
    font-size: 18px;
    line-height: 22px;
    margin-left: 3px;
}
